@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1536px) {
    .container {
        max-width: 1280px;
    }
}

html, body {
    scroll-behavior: smooth!important;
}

.menu-opener {
    display: none;
}

.container {
    padding: 0 15px;
}

.color-white {
    color: #fff;
}

html, body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    font-family: 'Space Grotesk', sans-serif;
}

html {
    font-size: 16px;
}

body {
    background-color: #110D38;
}

.header-legendary {
    height: 70px;
}

.list-epic {
    color: #ffffff;
    display: flex;
    align-items: center;
}

.list-item-common {
    margin: 4px;
    padding: 4px;
}

.list-epic.primary {
    display: block;
    align-items: normal;
}

.list-epic.primary .list-item-common {
    margin: 4px 0;
    padding: 0;
}

.button-common {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 0.875rem;
    border-radius: 10px;
    font-weight: 700;
    padding: 10px 18px;
}

.button-common.min-w {
    min-width: 200px;
}

.button-common.primary {
    color: #fff;
    background: linear-gradient(50deg, #5920AF 10%, #6A2ECA 17%, #7739E0 24%, #8041EF 32%, #8646F8 41%, #8848FB 55%, #A97FFB 100%);
    box-shadow: inset -4px 4px 22px rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(5px);
}

.button-common.secondary {
    border-radius: 10px;
    background-clip: padding-box;
    box-sizing: border-box;
    position: relative;
    background: transparent;
    border: 2px solid;
    color: #fff;
    border-image: linear-gradient(90deg, #90ECFF 0%, #4B79FF 26%, #8848FB 52%, #D343FF 79%, #FFA7FF 100%) 2;
}

.button-common.tertiary {
    padding: 16px;
    background: rgba(255, 255, 255, 0.15);
    background-blend-mode: overlay;
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(2px);
    border-radius: 12px;
    color: #fff;
}

.main-banner-epic {
    height: 100vh;
    min-height: 540px;
    max-height: 640px;
    position: relative;
    background-image: url('/images/banner-pattern.png');
    background-size: cover;
    background-position: center;
}

.bottom-image {
    min-width: 1545px;
    width: 100%;
    min-height: 360px;
    position: absolute;
    bottom: -65px;
    transform: translateX(-50%);
    left: 50%;
}

.middle-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
}

.canvas-outer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: hidden;
    mix-blend-mode: color-dodge;
    opacity: 1;
    animation: op 5s;
}

@keyframes op {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.board {
    position: relative;
    z-index: 1;
}

.paper {
    background: rgba(141, 141, 141, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(12px);
    border-radius: 16px;
    padding: 16px;
}

.paper.primary {
    background: linear-gradient(112.12deg, rgba(255, 255, 255, 0.2) -0.8%, rgba(255, 255, 255, 0.1) 100%);
    box-shadow: 8px 10px 16px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(6px);
    border-radius: 20px;
    padding: 60px 32px;
}

.extent-scope-legendary {
    margin-bottom: 120px;
}

.scope-headers {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.scope-headers.secondary {
    text-align: left;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.scope-headers.secondary h2 {
    max-width: 340px;
}

.scope-headers.secondary p {
    max-width: 620px;
}

.extent-list-item-common {
    margin-bottom: 20px;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.extent-list-item-common span {
    margin-left: 12px;
}

.extent-cell-image-common {
    border-radius: 24px;
    max-width: 560px;
    margin-left: auto;
}

.extent-cell-epic:nth-child(even) .extent-list-epic {
    order: 1
}

.extent-cell-epic:nth-child(even) .extent-cell-image-common {
    order: 2
}

.extent-cell-epic:nth-child(odd) .extent-list-epic {
    order: 2
}

.extent-cell-epic:nth-child(odd) .extent-cell-image-common {
    order: 1;
    margin-left: 0;
    margin-right: auto;
}

.flex-row {
    margin-left: -15px;
    margin-right: -15px;
}

.flex-row > div {
    padding: 15px;
}

.main-slider-legendary {
    margin-top: -20px;
    margin-bottom: 60px;
}

.cards-content-common {
    background: rgba(141, 141, 141, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(12px);
    border-radius: 16px;
    padding: 16px;

}

.card-epic {
    border-radius: 20px;
    width: 100%;
    position: relative;
    background-color: #110D38;
}

.card-epic:before {
    content: '';
    z-index: -1;
    position: absolute;
    border-radius: 20px;
    left: -2px;
    top: -2px;
    bottom: -2px;
    right: -2px;
    background: linear-gradient(90deg, #430062 0%, #420465 14%, #40106F 28%, #3D2580 43%, #394298 58%, #3468B7 73%, #2E95DC 88%, #29C0FF 100%);
}

.card-epic.primary:before {
    display: none;
}

.card-epic .cards-content-common {
    position: absolute;
    right: 16px;
    bottom: 16px;
    left: 16px;
}

.card-epic.primary .cards-content-common {
    right: 60px;
    bottom: auto;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
}

.card-epic-image {
    width: 100%;
    height: 100%;
    display: block;
    min-height: 350px;
    object-fit: cover;
    border-radius: 20px;
}

.panelist-scope-legendary {
    margin-bottom: 120px;
}

.join-team-scope-legendary {
    margin-bottom: 120px;
}

.support-us-scope-legendary {
    margin-bottom: 120px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px;
    background-image: url("/images/support-bg.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    position: relative;
}

.support-us-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.slider-img {
    height: 60px;
    width: 100%;
    object-fit: contain;
}

.support-us-content {
    max-width: 650px;
}

.ticket-scope-legendary {
    margin-bottom: 120px;
}

.image-list-image {
    width: 200px;
    height: 60px;
    object-fit: contain;
}

.footer-legendary {
    height: 120px;
    position: relative;
}

.footer-legendary:before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(90deg, #CF7BBE 8.72%, #6244EB 60.49%, #60D0DF 101.22%);
}

.flex-wrap-wrap {
    flex-wrap: wrap;
}

@media (max-width: 1023.98px) {
    .menu-opener {
        display: inline-block;
        cursor: pointer;
        position: relative;
        z-index: 101;
    }

    .bar1, .bar2, .bar3 {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
        background-color: #333;
    }

    .change .bar2 {
        opacity: 0;
        background-color: #333;
    }

    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
        background-color: #333;
    }

    .header-nav {
        position: fixed;
        right: -150%;
        top: 0;
        bottom: 0;
        width: 100%;
        max-width: 300px;
        flex-direction: column;
        background-color: #fff;
        z-index: 99;
        padding-top: 50px;
        transition: all .3s ease;
    }

    .header-nav.opened {
        right: 0;
    }

    .header-nav .list-item-common {
        color: #000;
    }

    .footer-list-epic {
        display: none;
    }
}

@media (max-width: 639.98px) {
    .middle-image {
        width: 300px;
    }

    .main-banner-epic {
        height: 50vh;
        min-height: 340px;
        max-height: 640px;
    }

    .logo-icon {
        width: 150px;
    }

    .paper.primary {
        padding: 15px;
    }

    .paper.primary .flex {
        flex-direction: column;
    }

    .paper.primary .flex > div, .paper.primary .flex .button-common {
        margin-bottom: 15px;
    }

    .support-us-scope-legendary {
        flex-direction: column;
    }

    .support-us-content {
        margin-bottom: 20px;
    }

    .extent-cell-image-common {
        width: 100%;
    }
}